<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mi trabajo - Federico Guigou </title>
    <link rel="stylesheet" type="text/css" href="../styles/general.css">
    <link rel="stylesheet" type="text/css" href="../styles/work.css">
</head>
<body>
    <header>
        <ul>
           <li><a href="views/work.html">Portfolio</a></li>
           <li><a>Home</a></li>
           <li><a>Playground</a></li> 
        </ul>
    </header>
    <main>
        <div class="main_header">
            <h1>
                Mi trabajo:
            </h1>
            <p>
                Como diseñador de sistemas busco asegurarme de que cada desisión sea centrada en el usuario, apuntando a desarrollar soluciones útiles y significativas. Me interesa que mi trabajo sea accesible, equitativo y además, me gusta elevar mis creaciones agregándoles una vuelta de tuerca que marque una direfencia.
            </p>
        </div>
        <div class="project">
            <div>
                <h1> Portfolio web - Federico Guigou </h1>
                <img alt="Imagen representativa">
            </div>
            <div>
                <p>El diseño de este mismo sitio web representó un desafío conceptual y técnico, desarrollado 100% por mí en html, JS y CSS. <br> Este proyecto es una vidriera de mi trabajo y capacidad para diseñar y construir soluciones desde cero.</p>
                <ul>
                    <li>Logo</li>
                    <li>Diseño Visual</li>
                    <li>Diseño de UX</li>
                    <li>Construcción</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div>
                <h1> KDT</h1>
                <img alt="Imagen representativa">
            </div>
            <div>
                <p>La creación del diseño de este mismo sitio web representó un desafío conceptual y técnico, desarrollado 100% por mí en html, JS y CSS. <br> Este proyecto es una vidriera de mi trabajo y capacidad para diseñar y construir soluciones desde cero.</p>
                <ul>
                    <li>Logo</li>
                    <li>Diseño Visual</li>
                    <li>Gestión del proyecto</li>
                </ul>
            </div>
        </div>
        
        
    </main>
    <footer>

    </footer>
</body>
</html>