.federicoded_page {
    padding: 8rem 10rem 0 10rem;
    background: linear-gradient(to bottom, #4f8fcf, #90c5f7, #feedc1);
    height: fit-content;
    overflow: auto;
    position: relative;
    z-index: 1;
    min-height: 350vh;
    padding-top: 3rem;
    padding-bottom: 2rem;

    .separation {
        height: 4rem;
    }

    .mini_separation {
        height: 0.3rem;
        margin: 1rem;
        border-radius: 50%;
        background-color: #4f8fcf5c;
    }

    .main_title {
        margin: 0;
        padding-inline: 1rem;
        margin-bottom: 2rem;
        text-align: left;
        width: 100%;
        color: #ffffff;
        text-shadow: 1px 1px 2px #000000;
    }

    .main_intro {
        color: #ffffff;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 550;
        text-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    }

    .mini {
        width: 80%;
    }

    .method_text {
        font-weight: 550;
    }

    .desing_challenges {
        background-color: #FFFFFF;
        border-radius: 2rem;
        padding: 2rem;

        .challenge_text {
            font-weight: 500;
        }

        .screenshot {
            height: 20rem;
        }
    }

    .track_container {
        overflow: hidden;
        width: 80%;
        background-color: #ffffffb7;
        border-radius: 2rem;

        .track {
            display: flex;
            width: 100%;
            height: 100%;
            gap: 4rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            height: fit-content;

            .track_logo {
                height: 6rem;
                width: 6rem;
            }
        }


    }

    .illustration_side {
        height: 100%;
        width: 100%;
        display: flex;
        overflow: hidden;
        border-radius: 2rem;
        flex-direction: column;
        background-color: #0a1e8b36;
    }

}


.page_container {
    height: 100vh;
    max-height: 100vh;
    overflow: scroll;

    .header_back {
        position: fixed;
        top: 0;
        left: 0;
        height: 3rem;
        width: 99%;
        background: linear-gradient(to bottom, #4f8fcf, #4f8fcfc8);
        z-index: 2;
    }
}



@media (max-aspect-ratio: 38/29) {
    .federicoded_page {
        padding: 8rem 1rem 0 1rem;

        .separation {
            height: 2rem;
        }

        .main_title {
            margin-bottom: 1rem;
        }

        .main_intro {
            margin-bottom: 3rem;
        }

        .mini_separation {
            height: 0.5rem;
            margin: 3rem;
            border-radius: 50%;
            background-color: #4f8fcf5c;
        }

        .method_box {
            margin-inline: 0.5rem;

            .method_text {
                font-size: 0.9rem;
            }
        }

        .desing_challenges {
            margin: 0.5rem;

            .desing_challenges_title {
                margin-bottom: 2rem;
            }

            .challenge_title {
                font-size: 1.5rem;
            }

            .challenge_text {
                font-size: 1rem;
            }
        }

        .track_container {
            width: 90%;
        }

        .illustration_side {
            height: 30vh;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

    }

}

@media (max-aspect-ratio: 67/89) {
    .federicoded_page {
        box-sizing: border-box;
        padding: 8rem 1rem 0 1rem;

        .main_title {
            margin-bottom: 1rem;
            font-size: 2rem;
            line-height: 2rem;
        }

        .main_intro {
            font-size: 1rem;
            margin-bottom: 3rem;
        }

        .method_title {
            font-size: 1.7rem;
            line-height: 1.7rem;
        }

        .desing_challenges_title {
            margin-bottom: 2rem;

            h2 {
                font-size: 1.7rem;
                line-height: 1.7rem;
            }
        }

        .desing_challenges {
            padding: 1rem;
            margin-bottom: 2rem;
            border-radius: 1rem;

            .desing_challenges_title {
                margin-bottom: 2rem;
            }

            .challenge_title {
                font-size: 1.4rem;
            }

            .challenge_text {
                font-size: 0.9rem;
            }

        }

        .common_section {
            border-radius: 1rem;

            .illustration_side {
                border-radius: 0.5rem;
            }
        }
    }
}

@media (max-aspect-ratio: 1/2) {
    .federicoded_page {
        padding-top: 9rem;

        .main_title {
            font-size: 1.8rem;
        }

        .main_intro {
            margin-bottom: 5rem;
            font-size: 0.8rem;
        }

        .method_box {
            margin-inline: 0;

            .method_title {
                margin-bottom: 0;
            }

            .method_text {
                font-size: 0.8rem;
            }
        }

        .desing_challenges {
            margin: 0;
            padding: 0.2rem;
            padding-top: 0.7rem;
            margin-bottom: 2rem;

            .desing_challenges_title {
                margin-bottom: 1.5rem;

                h2 {
                    font-size: 1.4rem;
                }
            }
            .challenge_title{
                font-size: 1.3rem;
                line-height: 1.4rem;
            }

            .challenge_text {
                font-size: 0.85rem;
            }

        }

    }
}