header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    z-index: 1000;

    .header_link {
        text-decoration: none;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding:0;
        gap:10%;
        width: 100%;

        .header_link {
            width: 22%;
            border-radius: 1rem;
        }

        li {
            width: 100%;
            border-radius: 1rem;
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
            font-weight: 500;
            font-size: 1.2rem;
            color: white;
            text-shadow: 0.015rem 0.015rem 0.08rem #0000009e;
        }
    }
}
