header{
    position: fixed;
    width: 100%;
    margin:0;
    padding: 0.5rem;
    text-align: center;
    z-index: 1000;

    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        gap:5rem;
        li{
            border-radius: 1rem;
            padding:0.2rem 0.5rem 0.2rem 0.5rem;
            font-weight: 500;
            font-size: 1.2rem;
            color: white;
        }
    }
}