body{
    font-family: "Montserrat",sans-serif;
    background: linear-gradient(to bottom, 
        #90d0f7 0%, 
        #F0F2F7 30%
    );
    font-weight: 500;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
    height: 100%;
}
header {
    display:flex;
    position: fixed;
    height: 4vh;
    width: 100%;
    top:0;
    left:0;
    z-index: 9999;
    font-weight: bold;
    justify-content: center;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header li{
    display: block;
    color: #013a74;
    text-align: center;
    height: fit-content;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0.4rem;
    text-decoration-line: underline;
}
header li:hover{
    background-color: #bdd7f1;
    color: #032445;
}

a {
    text-decoration: none; 
    color: inherit;       
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    
}