body{
    font-family: "Montserrat",sans-serif;
    background: linear-gradient(to bottom, 
        #4f8fcf 0%, 
        #F0F2F7 30%
    );
    font-weight: 500;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
    height: 100%;
}
header {
    display:flex;
    position: fixed;
    height: fit-content;
    width: 100%;
    top:0;
    left:0;
    z-index: 9999;
    justify-content: center;
    background-color: #4f8fcf;

}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header_link{
    display: block;
    color: #F2F2F2 ;
    text-align: center;
    height: fit-content;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0.4rem;
    text-decoration-line: underline;
    transition: color 0.5s ease;
    font-size: 1.4rem;
}
header li:hover{
    background-color: #bdd7f1;

}

a {
    text-decoration: none; 
    color: inherit;       
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    
}