@media (orientation: portrait) {
  /* Teléfono en vertical */
}

@media (orientation: landscape) {
  /* Tablet horizontal o monitor */
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #90d0f7, #90c5f7,  #f3f7ca, #e1c9f0);
    user-select: none;
    height: fit-content;
}

main {
    height: 220vh;
    display: flex;
    justify-content: center;
}
.welcome{
    width: fit-content;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5vw;
    top: 20vh;
}
.hi{
    margin-top: 7rem;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    color: white;
    background-color: transparent;
}

.hi:hover{
    transition: background-color 0.5s ease;
    background-color: #589ea5a2;
    color: rgb(3, 6, 68);
}
.hi:active{
    background-color: #ffffff;
}

.about_me{
    width: 25vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10vw;
    top: 140vh;
}

.profile_pic{
    margin-top: 20%;
}

.logo_container{
    padding:5px;
    width: fit-content;
    height: fit-content;
    border-radius: 40%;
    display: inline-block;
    margin: 2%;
    background-color: transparent;
}

.logo_container:hover {
    background-color: #bdd8f0;
    transition: background-color 0.5s ease;
}

.logo_container:active{
    transition: background-color 0.0s ;
    background-color: #FFFFFF;
}

.about_me svg{
    margin: 0.5rem;
}

.presentation{
    width: 40vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15vw;
    top: 140vh;
}

#cartel{
    margin-right: 2vw;
    height: 85vh;
    position:fixed;
    left:5vw;
    bottom:0;
    max-width: 70vw;
    z-index: 980;
    transition: transform 0.1s linear;
}

.presentation{
    align-items:baseline;
    font-size: 1.4rem;
}
.presentation h1{
    font-family:sans-serif;
    font-size: 2.5rem;
}
.presentation p{
    font-family:sans-serif;
    text-align: left;
}
.presentation ul{
    list-style: none;
}
.presentation li{
    margin-bottom: 1rem;
    border-radius: 15px;
    padding: 0.5rem;
    text-decoration-line: underline;
}
.presentation li:hover{
    transition: background-color 0.5s ease;
    background-color: #bdd8f0;
}
.presentation li:active{
    background-color: #ffffff;
}
footer{
    padding: 0;
    height: fit-content;
    margin: 0;
}
footer div{
    margin: 0;
}
footer svg{
  position: relative;
  bottom: -0.5rem; /* o el valor que necesites para que sobresalga */
  left: 0;
  width: 100%;
}