@media (orientation: portrait) {
  
}

@media (orientation: landscape) {


}

body {
    background: linear-gradient(to bottom, #67bfde, #90c5f7,  #f3f7ca, #e1c9f0);
}

main {
    height: 220vh;
    display: flex;
    justify-content: center;
}
.cartel {
    right: 2vw;
    position: fixed;
    left: 5vw;
    bottom:0;
    height: 85vh;
    max-width: 70vw;
    z-index: 980;
}
    .welcome{
        width: 30vw;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 7vw;
        top: 20vh;
    }
    .welcome_cloud{
        width: 100%;
    }

    .hi{
        margin-top: 7rem;
        border-radius: 15px;
        font-size: 1.5vw;
        padding: 0.5rem;
        border: none;
        background-color: transparent;
    }
    .hi svg{
        overflow: visible;
    }
    .hi:active .cloud_hi_cloud{
        fill: #67bfde;
    }

    .about_me{
        width: 25vw;
        height: 100vh;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 10vw;
        top: 140vh;
    }

    .profile_pic{
        margin-top: 20%;
    }

    .logo_container{
        padding:5px;
        width: fit-content;
        height: fit-content;
        border-radius: 40%;
        display: inline-block;
        margin: 2%;
        background-color: transparent;
    }

    .logo_container:hover {
        background-color: #bdd8f0;
        transition: background-color 0.5s ease;
    }

    .logo_container:active{
        transition: background-color 0.0s ;
        background-color: #FFFFFF;
    }

    .about_me svg{
        margin: 0.5rem;
    }

    .presentation{
        width: 50vw;
        height: 100vh;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 15vw;
        top: 140vh;
    }

    .presentation{
        align-items:baseline;
        font-weight: 400;
        font-size: clamp(1rem, 1.7vw, 3rem);
    }
    .presentation h1{
        font-size: 2.5vw;
    }
    .presentation p{
        text-align: left;
    }
    .presentation ul{
        list-style: none;
    }
    .presentation li{
        margin-bottom: 1rem;
        border-radius: 15px;
        padding: 0.5rem;
        text-decoration-line: underline;
    }
    .presentation li:hover{
        transition: background-color 0.5s ease;
        background-color: #bdd8f0;
    }
    .presentation li:active{
        background-color: #ffffff;
    }
    footer{
        padding: 0;
        height: fit-content;
        margin: 0;
    }
    footer div{
        margin: 0;
    }
    footer svg{
    position: relative;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    }
    .container_pajaritos{
        height: 20vh;
        overflow: hidden;
        position:absolute;
        top: 10vh;
        right:-15vw;
    }

