
body {
    background: linear-gradient(to bottom, #4f8fcf, #90c5f7,  #feedc1, #e4a872);
}
header{
    background-color: transparent;
}
.hover_fondo_oscuro:hover {
    background-color: #234970c3;
}
.hover_fondo_claro:hover {
    background-color: #5770ff3c;
}
main {
    height: 220vh;
    display: flex;
    justify-content: center;
}
.cartel {
    right: 2vw;
    position: fixed;
    left: 5vw;
    bottom:0;
    height: 85vh;
    max-width: 70vw;
    z-index: 980;
}
.welcome{
    width: 30vw;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 7vw;
    top: 15vh;
}

.hi{
    position: absolute;
    top:50%;
    left: 75%;
}
.hi svg{
    overflow: visible;
}
.hi:active .cloud_hi_cloud{
    fill: #67bfde;
}

.about_me{
    width: 30vw;
    height: 80vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 6vw;
    top: 140vh;
}

.profile_pic{
    margin-top: 20%;
}
.logo{
    height: 8vh;
    margin: 0.4rem;
}

.logo_container{
    padding:5px;
    width: fit-content;
    height: fit-content;
    border-radius: 40%;
    display: inline-block;
    margin: 0;
    background-color: transparent;
}
.logo_container:hover , .presentation li:hover{
    background-color: #5771ff5c;
    transition: background-color 0.5s ease;
}
.logo_container:active{
    transition: background-color 0.0s ;
    background-color: #FFFFFF;
}


.presentation{
    width: 50vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10vw;
    top: 140vh;
    align-items:baseline;
    font-weight: 400;
    font-size: clamp(1rem, 1.5vw, 3rem);
}

.presentation h1{
    font-size: clamp(2rem, 2.5vw, 5rem);
}
.presentation p{
    text-align: left;
}

.presentation li{
    margin:0;
    border-radius: 15px;
    padding: 0.7rem;
    text-decoration-line: underline;
}

.presentation li:active{
    background-color: #ffffff;
}
footer{
    padding: 0;
    height: fit-content;
    margin: 0;
}

footer svg{
    position: relative;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
}
.container_pajaritos{
    height: 20vh;
    overflow: hidden;
    position:absolute;
    top: 10vh;
    right:-15vw;
}

@media (max-aspect-ratio: 38/29) {
    .welcome{
        width: 60vw;
        right: 25%;
        top: 15vh;
    }
    main {
        height: 190vh;
    }
    .about_me{
        top: 100vh;
    }
    .presentation{
        top: 90vh;
    }
    footer svg{
        width: 150%;
    }
    .container_pajaritos{
        overflow: visible;
    }
    .cartel{
        max-width: 80vw;
        left: 2vw;
    }
    .hi{
        left: 82%;
    }
}

@media (max-aspect-ratio: 8/9) {
    .hi{
        top:40%;
        left: 40%;
        z-index: 999;
    }
    .cartel{
        max-width: 90vw;
        left: 2vw;
    }
}