body {
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
header{
    background-color: #90d0f7;
}
.main_header{
    padding:1rem;
    margin: 1rem;
    color: rgb(0, 8, 51);
}
.main_header h1{
    font-size: 2.5rem;
}
p{
    font-size: 1.5rem;
}
.division{
    background-color: #deebf1d3;
    border-radius: 20px;
    padding:1rem;
    padding-inline: 2rem;
    margin-bottom: 3rem;
    transition: background-color 0.5s ease;
}
.tools{
    text-align: center;
}
.tools ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    gap:3rem;
}
.tool_logo{
    height: 5rem;
}

.imagen{
    width: 50%;

}

h2{
    font-size: 2rem;
    text-align: center;
}
.challenge{
    background-color: #F0F2F7;
    margin: 1rem;
    padding: 1rem;
    padding-inline: 2rem;
}
h3{
    font-size: 1.5rem;
}
 h4{
    font-size: 1.4rem;
    text-align: center;
}

hr{
    width: 50%;
}

.conclusion{
    font-size: 1.5rem;
}

@media (min-aspect-ratio: 38/29){
    .texto{
        float: right;
        width: 50%;
    }
    img{
        width: 80%;
    }
    .challenge ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 1rem;
        gap:1.5rem;
    }
    .challenge .description{
        width: 60%;
    }
    .illustration{
        width: 40%;
        display: flex;
        align-items: center;
        padding: 1rem;
    }
}
@media (max-aspect-ratio: 38/29) {
    body {
        padding: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .division{
        padding-inline: 2vw;
    }
    .imagen{
        width: 100%;
    }
    .challenge{
        padding: 0;
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding-inline: 2vw;
    }
    .challenge ul{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .challenge li{
        width: 100%;
    }

    .challenge .illustration { order: 2; }
    .challenge .description { order: 1; }


}