body {
    background: linear-gradient(to bottom, #71ddf3, #bfd1e2,  #ffffff);
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Montserrat", sans-serif;
}
header{
    background-color: #71ddf3;
}
.main_header{
    padding:1rem;
    color: rgb(0, 8, 51);
}
h1{
    font-size: clamp(2rem, 3vw, 4rem);
}
.main_header p{
    font-size: clamp(1.3rem, 1.5vw, 2rem);
}

.project{
    list-style: none;
    border-radius: 20px;
    height: 20rem;
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
}
.project:hover{
    transition: background-color 0.5s ease;
    background-color: #d6f2f9c2;
}
.project:active{
    transition: background-color 0.0s;
    background-color: #ffffff;
}

.project_name{
    width: 40%;
    align-items: center;
}

.subtitle{
    font-size: clamp(1.6rem, 2.5vw, 3rem);
}
.description{
    text-align: left;
}
.project p{
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}
.items{
    font-size: 1.3rem;
    list-style: disc;
}
.items li{
    margin-bottom: 0.3rem;
}

hr{
    border: none; 
    height: 1px; 
    background-color: #6c96ba;
    margin:20px; 
    margin-left: 25%; 
    margin-right: 25%;
}


@media (max-aspect-ratio: 38/29) {
    .project{
        height: fit-content;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
        padding: 3vw;
        padding-top:0;
        width: 100%;
    }
    .main{
        width: 100%;
    }

    .project li{
        float: none;
        width: 100%;
    }
    .logo{
        width: 50%;
    }

}

@media (min-aspect-ratio: 38/29){
    .project li{
        float: left;
        max-width: 58%;
        height: 100%;
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }
}