.swiper {
    width: 100%;
    height: 60vh;

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-height: 100%;
        font-weight: bold;
        color: #fff;
        box-shadow: 2px 2px;
        box-sizing: border-box;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            display: block;
        }
    }

}